section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.about {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: auto; 
    
    h1 {
        font-family: 'Helvetica';
        position: relative;
        margin-top: 30px;
    }

    p, img {
        position: relative;
        padding: 0 45px;
        top: -10%;
        margin-bottom: 20px;
    }

    p {

    }

    img {
        position: relative;
        width: 200px;
    }
}

.gallery {
    height: auto;
}


.home-page {
    opacity: 0;

    .main-photo, .text-zone {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
    }

    .main-photo {
        width: 600px;
        top: 60%;
    }

    .text-zone {
        width: 60%;
        align-items: center;
        justify-content: center;
        top: 70%;

        h1 {
            color: #f8edeb;
            font-size: 44px;
            margin: 0;
            font-family: 'La Belle Aurore';
            font-weight: 400;
    
            &::before, &::after {
                font-family: 'La Belle Aurore';
                color: #f8edeb;
                font-size: 18px;
                position: absolute;
                opacity: 0.6;
            }

            &::before {
                margin-top: -40px;
                left: 15px;
            }
    
            &::after {
                margin-top: 18px;
                margin-left: 20px;
                animation: fedeIn 1s 1.7s backwards;
            }
    
            
        }
    
        h2 {
            color: #ffffff;
            margin-top: 10px;
            font-weight: 400;
            font-size: 13px;
            font-family: 'Helvetica';
            letter-spacing: 2px;
            animation: fadeIn 1s 1.8s backwards;
        }
    }

    .flat-buttom {
        color: #f8edeb;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: 'Helvetica';
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #f8edeb;
        margin-top: 25px;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
        transition: 0.5s;

        &:hover {
            background: #f8edeb;
            color: #000000;
        }
    }
}





.logo {
    text-decoration: none;
    a, p {
        font-size: 24px;
        font-family: 'Helvetica';
        color: #000;
        text-decoration: none;
        margin-right: 9px;
    }

    p {
        margin-top: 0px;
    } 
}

@media (max-width: 992px) {
    

    
}

@media (max-width: 576px) {
    
}