.logo {
    a {
        color: #fff;
        position: absolute;
        top: 0px;
        font-family: 'Helvetica';
        font-size: 24px;
        padding: 10px;
        cursor: pointer;
    }
}

.home-page {

    .text-zone {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        max-height: 90%;
        align-items: center;
        align-content: center;

        

        h1 {
            display: flex;
            justify-content: center;
            color: #ffffff;
            font-size: 53px;
            margin: 0;
            font-family: 'Coolvetica';
            font-weight: 400;
    
            &::before {
                font-family: 'La Belle Aurore';
                color: #ffffff;
                font-size: 18px;
                position: absolute;
                margin-top: -40px;
                left: 15px;
                opacity: 0.6;
            }
    
            &::after {
                font-family: 'La Belle Aurore';
                color: #ffffff;
                font-size: 18px;
                position: absolute;
                margin-top: 18px;
                margin-left: 20px;
                animation: fedeIn 1s 1.7s backwards;
                opacity: 0.6;
            }
    
            img {
                width: 32px;
                margin-left: 20px;
                opacity: 0;
                height: auto;
                animation: rotateIn 1s linear both;
                animation-delay: 1.4s;
            }
        }
    
        h2 {
            color: #ffffff;
            margin-top: 20px;
            font-weight: 400;
            font-size: 13px;
            font-family: sans-serif;
            letter-spacing: 3px;
            animation: fadeIn 1s 1.8s backwards;
        }
    }

    .flat-buttom {
        color: #ffffff;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #ffffff;
        margin-top: 25px;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
        transition: 0.5s;

        &:hover {
            background: #ffffff;
            color: #000000;
        }
    }
    
    
}

@media (max-width: 992px) {
    .home-page .text-zone h1 {
        font-size: 44px;
    }
    .home-page .text-zone h2 {
        font-size: 12px;
    }
    .home-page .flat-buttom {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .home-page .text-zone h1 {
        font-size: 32px;
    }
    .home-page .text-zone h2 {
        font-size: 10px;
    }
    .home-page .flat-buttom {
        font-size: 10px;
    }
}

Loader {
    color: #fff;
}