.gallery {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    justify-items: center;
    animation: fadeIn 1s 1.8s backwards;
    margin-top: -33px;

    .video {
        margin: 10px;
        margin-right: 35px;
        margin-left: 35px;
    }
}