

.gallery {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    justify-items: center;
    animation: fadeIn 1s 1.8s backwards;
    height: auto;


    .video {
        margin: 5px;
    }
}

.gallery-youtube {
    margin-top: -60px;
    margin-bottom: 40px;
}

.gallery-instagram {
    margin-top: -80px;

}


.title-instagram {
    font-family: 'Helvetica';
    font-size: 28px;
    background: -webkit-linear-gradient(#962fbf, #d62976, #4f5bd5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.gallery img {
    width: 300px;
    object-fit: cover;
    margin: 5px;
}
