.gallery {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    justify-items: center;
    animation: fadeIn 1s 1.8s backwards;
    margin-top: -33px;

    .video {
        margin: 5px;
    }
}

.title-instagram {
    font-family: 'Helvetica';
    font-size: 28px;
    background: -webkit-linear-gradient(#962fbf, #d62976, #4f5bd5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
